BOT_TOKEN=8324607132:AAGbaFN8NSkEbcvW3qMA8W0fSgVTZApSSNQ
OWNER_ID=7767163190
MONGO_URL=mongodb+srv://bot627668:2bEJ56yJSu7vzLws@cluster0.qbw5van.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
